* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Sirve para que las cosas se ajusten a su width y no hagan overflow o se desborden*/
  }
body {
    background: linear-gradient(to bottom right, rgb(127, 215, 111), white);
}
.totalcontainer {
    display: flex;
    flex-direction: column;
}
header {
    
    text-align: center;
}
.rectangcontainer img { 
    width: auto;
    max-height: 40vh;
  }
.rectangcontainer {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    text-align: center;
}
    .firstcolumn {
        display: flex;
        flex-direction: column;
        
        height: 100%;
        width: 100vw;
    }
    .secondcolumn {
        display: flex;
        flex-direction: column;
        
        height: 100%;
        width: 100vw;
    }
.rectang1 {
    flex: 1;
    
}
.rectang2 {
    flex: 1;
    
}
.rectang3 {
    flex: 1;
    
}
.rectang4 {
    flex: 1;
    
}
@media screen and (max-width: 600px) { /*Esto es para ocultar el menú derecho en dispositivos móviles o al hacer mucho zoom
    y para quitar el margen derecho también en el texto*/
    .rectangcontainer {
        display: flex;
        flex-direction: column;
    }
    .imgcentral {
        display: none;
    }
}